@model TradesViewModel

@{
    ViewData["Title"] = "Trades";
}
<div>
    <table class="table table-striped table-bordered table-hover" id="trades">

        <thead>
            <tr>
                <th>CurrentPrice</th>
                <th>Date</th>
                <th>Counterparty</th>
                <th>Asset</th>
                <th>Status</th>
                <th>Way</th>
                <th>Price</th>
                <th>Volume</th>

            </tr>
        </thead>
    </table>


</div>

<script>
    $(document).ready(function () {

        $('#trades').DataTable({
            "data": @Html.Raw(@Model.Json),
            responsive: true,
            "columns": [
                { "data": "currentPrice" },
                { "data": "date" },
                { "data": "counterparty" },
                { "data": "asset" },
                { "data": "status" },
                { "data": "way" },
                { "data": "price" },
                { "data": "volume" }
            ]
        });

    });

</script>

